<div id="admin-widget">
<% if current_admin %> 
  <ul> 
    <li><%= current_admin.email %></li> 
    <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
  </ul> 
<% else %> 
  <ul> 
    <li><%= link_to "Login", 'login' %></a></li> 
  </ul> 
<% end %>
</div>