<div class="zoomground-wrap">

<div class="zoomground"></div>

<div class="zoomground-logo-wrap">
<div class="zoomground-logo"><img class="image-responsive" src="/img/renolit-opening-logo.svg"></div>

</div>
<div id="jump-down-button">
<a class="page-scroll" href="#content-wrap"><i class="fa fa-chevron-circle-down fa-4x"></i></a>
</div>
</div>
<div class="container" id="content-wrap">

<div  id="content">
<div class="row" id="quote-block">
	<i class="fa fa-quote-right fa-1x col-sm-1 col-xs-3"></i>
  <p id="welcome" class="col-sm-11 col-xs-9">Mi a Renolitnál művészetként tekintünk az építési folyamatokra. Hisszük hogy a telek a vásznat, partnereink pedig a művész képzeletét biztosítják számunkra. Mi vagyunk a kéz Ön számára, hogy álmai vászonra kerüljenek, és valósággá váljanak.</p>
</div>
</div>
</div>