<div class="row" id="quote-block">
	<i class="fa fa-quote-right fa-1x col-sm-1 col-xs-3"></i>
  <p id="welcome" class="col-sm-11 col-xs-9">Művészetként tekintünk az építési folyamatokra. Hisszük hogy a telek a vásznat, partnereink pedig a művész képzeletét biztosítják számunkra. Mi vagyunk a kéz Ön számára, hogy álmai vászonra kerüljenek, és valósággá váljanak.</p>
</div>