<div class="container" id="content-wrap">
<div  id="content">
<h1>Listing Houses</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= image_tag house.image.thumb.url %></td>
        <td><%= house.name %></td>
        <td><%= house.description %></td>
        <td><%= link_to 'Show', show_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>