<div class="container" id="content-wrap">
<div  id="content">
<h1>Referenciáink</h1></br>
<p>kérjük válasszon teljesített projektjeink közül egyet...</p>
    <ul class="row" id="reference-list">
      <% @houses.each do |house| %>
      <li class="col-sm-4">
      <%= link_to image_tag(house.image.cover.url, class: "img-responsive"),show_house_path(house) %>
      </li>
    <% end %>
    </ul>
</div>
</div>