/*PRE*/
//
// mixin for bullet proof font declaration syntax
//
@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
@font-face {
font-family: '#{$font-family}';
src: url(font-path('#{$font-filename}.eot'));
src: url(font-path('#{$font-filename}.eot?#iefix')) format('embedded-opentype'),
url(font-path('#{$font-filename}.woff')) format('woff'),
url(font-path('#{$font-filename}.ttf')) format('truetype'),
url(font-path('#{$font-filename}.svg##{$font-family}')) format('svg');
font-weight: $font-weight;
font-style: $font-style;
font-stretch: $font-stretch;
}
}

@include declare-font-face('OpenSans-CondLight', 'OpenSans-CondLight-webfont', 200);
@include declare-font-face('OpenSans-CondBold', 'OpenSans-CondBold-webfont', 200);
@include declare-font-face('OpenSans-CondLightItalic', 'OpenSans-CondLightItalic-webfont', 200);

::-webkit-scrollbar { 
    display: none; 
}

$rn-orange: #f07746;

html.turbolinks-progress-bar::before {
	background-color: $rn-orange !important;
	height: 5px !important;
}

/*PRE-END*/

/*BODY*/
body{
	background-image: url("/img/swirl_pattern.png");
	background-repeat: repeat;
	overflow-x:hidden;
}
/*BODY END*/

/*ZOOMGROUND*/
@-webkit-keyframes cssAnimation {
from { -webkit-transform: scale(1); }
10%	{ -webkit-transform: scale(1);}
to { -webkit-transform: scale(1.5);}
}
@-moz-keyframes cssAnimation {
from { -moz-transform:scale(1); }
10%	{ -moz-transform: scale(1);}
to { -moz-transform: scale(1.5); }
}
@-o-keyframes cssAnimation {
from { -o-transform:scale(1); }
10%	{ -o-transform: scale(1);}
to { -o-transform: scale(1.5); }
}

.zoomground-wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;


	.zoomground {
	    position: absolute;
	    height: 100%;
	    width: 100%;
	    -webkit-animation: cssAnimation 20s ease;
		-moz-animation: cssAnimation 20s ease;
		-o-animation: cssAnimation 20s ease;
		-webkit-animation-fill-mode: forwards;
	    background-image: url("/img/bg.jpg");
	    -webkit-filter: blur(5px); 
	    -moz-filter: blur(5px); 
	    -o-filter: blur(5px); 
	    -ms-filter: blur(5px); 
	    filter: blur(5px);
	    -moz-background-size: cover;
	    -webkit-background-size: cover;
	    background-size: cover;
	    z-index: -1;
	}

	.zoomground-logo-wrap{
	background-image: url("/img/renolit-opening-logo.svg");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    width:100vw;
    height: 100vh;
	}

	#jump-down-button{
		position: absolute;
		width:100%;
		bottom:3%;
		text-align: center;
		.page-scroll{
			text-decoration: none;
			color:white;
			transition-duration:0.5s;
			&:hover{
			color: $rn-orange;
			}
			&:focus{
			color: $rn-orange;
			}
			&:visited{
			}
		}
	}

}
/*ZOOMGROUND END*/

/*NAVBAR*/

#full-navbar{
	font-family:"OpenSans-CondBold";
	border-bottom:2px solid $rn-orange;
	background-image: url("/img/concrete_seamless.png");
	background-repeat: repeat;
	


	#custom-navbar{	
		padding-top:5px;
		padding-bottom:5px;
	
		.navbar-brand{ 
			background-image: url("/img/mini-logo.svg");
			-moz-background-size: cover;
			-webkit-background-size: cover;
			background-size: cover;
			margin-left:15px;
			height: 50px;
			width:90px;;
		}

		.navbar-toggle{
			border-radius: 0px;
			border:2px solid $rn-orange;
			.icon-bar{
				background-color:$rn-orange;
			}
			&:hover{
				background-color: white;	
			}
			&:focus{
				background-color: white;
			}
		}

		#myNavbar{
			background: url("/img/concrete_seamless.png")repeat right top;
			ul li{
				margin-top: 10px;
				a{
				font-size: 1.4em;
				padding:5px;
				padding-left: 15px;
				color:$rn-orange;
					&:hover{
						color: #FF4A00;
					}
					&:active{
						color: #FF4A00;
					}
				}

			}
		}
	}
}
/*NAVBAR END*/

/*CONTENT*/

@keyframes hideshow {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#content-wrap{

	padding-top: 100px;
	padding-bottom: 50px;

	#content{
		border:3px solid white;
		background: url("/img/concrete_seamless.png") repeat right top;
		min-height: 700px;
		border-radius:5px;
		animation:hideshow 2s;
		padding: 2.5em;
		font-family: "OpenSans-CondBold" 1.4em;
		color:$rn-orange;
		hr{
			border-top:1px solid white; 
		}
		#quote-block{
			
			& i{
				margin-top: 10px;
				color:#f18458;
				font-size: 2.5em;
				}
			& #welcome{
				border-radius:5px;
				border-left: 3px solid rgba(0,0,0,0.2);
				font-family: "OpenSans-CondBold";
				font-size: 2em;
				color: #f18458;
			}
		}
	}
}


/*CONTENT END*/

/*REFERENCIÁK*/

ul#reference-list{
	padding-left: 0;
	li{
		padding-top: 15px;
		list-style-type:none;
		img{
			border-radius:5px;
		}
	}
}

.show-cover{
	background-position: center center;
	background-size: cover;
	height:300px;
}

#caption{
	color:rgba(255,255,255,0.9);
	background-color: rgba(0,0,0,0.6);
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

#gallery{
	padding:15px;

	#lightGallery{
			padding-left: 0;
		li{
			
			padding-top: 15px;
			list-style-type:none;
			img{
				cursor:pointer;
			}
		}
	}
}

/*FOOTER*/

#footer{
	border:3px solid white;
	background-image: url("/img/concrete_seamless.png");
	background-repeat: repeat;
	font-family: "OpenSans-CondBold";
	color:$rn-orange;
	background-color: rgba(255, 255, 255,0.8);
	padding:0px 40px 0px 40px;
	border-radius:5px;

}
.cd-top{
	opacity: 0;
	color: $rn-orange;
	position: fixed;
  	bottom: 10px;
  	right: 6px;
	&:hover{
		color: $rn-orange;
	}
	&:focus{
		color: $rn-orange;
	}
	&:visited{
		color: $rn-orange;
	}
}

.cd-is-visible {
	/* the button becomes visible */
	visibility: visible;
	opacity: 1;
}
.cd-fade-out {
	 /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: .5;
}


/*FOOTER END*/

/*ADMIN*/

@mixin admin-icon($hover-color, $color : #B4B4B4, $transition : 0.5s, $text-decoration : none) {
	color:$color;
	transition:$transition;
	&:hover{
		text-decoration:$text-decoration;
		color: $hover-color;
	}
}
.a-show-small{
@include admin-icon(#337AB7);
}
.a-edit-small{
@include admin-icon(#1FA67A);
}
.a-del-small{
@include admin-icon(#A61F1F);
}
.a-show-big{
@include admin-icon(#337AB7);
}
.a-edit-big{
@include admin-icon(#1FA67A);
}
.a-back-big{
@include admin-icon($rn-orange);
}
.a-logout-big{
@include admin-icon(#A61F1F);
}

.a-info{
	border:1px solid $rn-orange;
	padding: 10px;
	background-color: rgba(255,255,255,0.5);
}

.a-show-thumb{
	padding-top: 10px;
}

/*ADMIN END*/




/*proba*/
