/*PRE*/
//
// mixin for bullet proof font declaration syntax
//
@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
@font-face {
font-family: '#{$font-family}';
src: url(font-path('#{$font-filename}.eot'));
src: url(font-path('#{$font-filename}.eot?#iefix')) format('embedded-opentype'),
url(font-path('#{$font-filename}.woff')) format('woff'),
url(font-path('#{$font-filename}.ttf')) format('truetype'),
url(font-path('#{$font-filename}.svg##{$font-family}')) format('svg');
font-weight: $font-weight;
font-style: $font-style;
font-stretch: $font-stretch;
}
}

@include declare-font-face('OpenSans-CondLight', 'OpenSans-CondLight-webfont', 200);
@include declare-font-face('OpenSans-CondBold', 'OpenSans-CondBold-webfont', 200);
@include declare-font-face('OpenSans-CondLightItalic', 'OpenSans-CondLightItalic-webfont', 200);

::-webkit-scrollbar { 
    display: none; 
}
/*PRE-END*/

/*BODY*/
body{
background-image: url("/img/swirl_pattern.png");
background-repeat: repeat;
overflow-x:hidden;
}
/*BODY END*/

/*ZOOMGROUND*/
@-webkit-keyframes cssAnimation {
from { -webkit-transform: scale(1); }
10%	{ -webkit-transform: scale(1);}
to { -webkit-transform: scale(1.5);}
}
@-moz-keyframes cssAnimation {
from { -moz-transform:scale(1); }
10%	{ -moz-transform: scale(1);}
to { -moz-transform: scale(1.5); }
}
@-o-keyframes cssAnimation {
from { -o-transform:scale(1); }
10%	{ -o-transform: scale(1);}
to { -o-transform: scale(1.5); }
}

.zoomground-wrap {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;

    /*custom border bottom*/
     border-bottom: 1px dashed #ddd;
}

.zoomground {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-animation: cssAnimation 20s ease;
	-moz-animation: cssAnimation 20s ease;
	-o-animation: cssAnimation 20s ease;
	-webkit-animation-fill-mode: forwards;
    background-image: url("/img/bg.jpg");
    -webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
}
/*ZOOMGROUND END*/

/*ZOOMGROUND LOGO*/

.zoomground-logo-wrap{
	margin-top: 20vh;
	margin-bottom: 25vh;
	margin-left: 25vw;
	margin-right: 25vw;
	max-height: 600px;
	max-width: 1050px;
}
.zoomground-logo{
	color:white;
	text-shadow: 20px 20px 40px #000000;
}

#jump-down-button{
	position: absolute;
	width:100%;
	bottom:5%;
	text-align: center;
	
	.page-scroll{
		color:white;
		transition-duration:0.5s;
		&:hover{
		color: #f07746;
		}
		&:focus{
		color: #f07746;
		}
		&:visited{

		}
	}
}
/*ZOOMGROUND LOGO END*/

/*NAVBAR*/

@keyframes hideshow {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#full-navbar{
	height: 60px;
	border:0 0 3px 0 solid white;
	background-image: url("/img/concrete_seamless.png");
	background-repeat: repeat;
}

#custom-navbar{	
	padding-top:5px;
	padding-bottom:5px;
	border-radius:5px;
}

#custom-navbar>.navbar-header>.navbar-brand{ 
  background-image: url("/img/mini-logo.svg");
   -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    margin-left:15px;
	height: 50px;
	width:90px;;
}

#myNavbar{
	background: url("/img/concrete_seamless.png")repeat right top;
}

#navbar-box{
	font-family:"OpenSans-CondBold";
	margin-top: 10px;
	text-align: center;

}

#navbar-box>a{
	font-size: 1.4em;
	padding:5px;
	border-radius:7px;
	background-color: rgba(255,255,255,0.0);
	color:#f07746;
}

#navbar-box>a:hover{
background-color: rgba(0,0,0,0.1);
}

#navbar-box>a:active{
background-color: rgba(0,0,0,0.1);
}
/*NAVBAR END*/

/*CONTENT*/
.logo{
	text-align: center;
}



#content-wrap{

	padding-top: 100px;
	padding-bottom: 50px;

}

#content{
	border:3px solid white;
	background: url("/img/concrete_seamless.png") repeat right top;
	min-height: 700px;
	border-radius:5px;
	animation:hideshow 2s;
	padding: 2.5em;
	font-family: "OpenSans-CondBold" 1.4em;
	color:#f07746;
	& hr{
		border-top:1px solid white;
	}
	& #quote-block{
		border:3px solid rgba(0,0,0,0.1);
		background-color:rgba(255,255,255,0.4);
		border-radius:25px 5px 5px 25px;
		
		& i{
			margin-top: 10px;
			color:#f18458;
			font-size: 2.5em;
			}
		& #welcome{
		border-radius:5px;
		border-left: 3px solid rgba(0,0,0,0.2);
		font-family: "OpenSans-CondBold";
		font-size: 2em;
		color: #f18458;
		}
	}
	}
/*CONTENT END*/

/*REFERENCIÁK*/
	ul#reference-list{
			padding-left: 0;
		li{
			padding-top: 15px;
			list-style-type:none;
			img{
				border-radius:5px;
			}
		}
	}

/*FOOTER*/

#footer{
	border:3px solid white;
	background-image: url("/img/concrete_seamless.png");
	background-repeat: repeat;
	font-family: "OpenSans-CondBold";
	color:#f07746;
	background-color: rgba(255, 255, 255,0.8);
	padding:0px 40px 0px 40px;
	border-radius:5px;

}
.cd-top{
	opacity: 0;
	color: #f07746;
	position: fixed;
  	bottom: 10px;
  	right: 6px;
	&:hover{
	color: #f07746;
	}
	&:focus{
	color: #f07746;
	}
	&:visited{
	color: #f07746;
	}
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

/*FOOTER END*/


html.turbolinks-progress-bar::before {
  background-color: #f07746 !important;
  height: 5px !important;
}

.show-cover{
	background-position: center center;
	background-size: cover;
	height:300px;
}

#caption{
	background-color: rgba(0,0,0,0.6);
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	div{
		
	}
}

#gallery{
	padding:15px;

	#lightGallery{
			padding-left: 0;
		li{
			
			padding-top: 15px;
			list-style-type:none;
			img{
				cursor:pointer;
			}
		}
	}
}
