<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
      #mfooter{
        background-color: #333;
      }
    #mfooter td{
      text-align:center;
      font-size: 1em;
      color:#ded4bf;
    }
    #mcontent{

    }
      #mcontent td{
        color:#f28231;
      }
    #mheader{

    }
      #mheader td{
        text-align:center;
        font-size: 1.6em;
        color:#f28231
      }
      #mfrom{
        font-size:1em;
      }
      #mfrom #msender{
        font-size:0.8em;
      }
      #mmessage{
        font-size:1.6em;
      }
      #mmessagelabel{
        font-size: 1em;
      }
  </style>
</head>
<html>
  <body>
  <table style="background-color:#edeae3;" border="0" cellpadding="10" cellspacing="0" width="100%">
    <tr id="mheader">
      <td>
        <%= image_tag('mini-logo.png) %> kapcsolatfelvétel csaladihazkivitelezes weblapról
      </td>
    </tr>
    <tr id="mcontent">
      <td>
        <%= yield %>
      </td>
    </tr>
    <tr id="mfooter">
      <td>
        csaladihazkivitelezes @2017
      </td>
    </tr>
  </table>
  </body>
</html>
